html, body {
	height: 100%;
	margin: 2%;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	#map {
		height: 45%;
		width: 100%;
		display: block;
	}
	.posBtn {
		display: block;
		padding: 7px 15px;
		height: 126px;
		background: rgba(173,216,230,.8);
		border: none;
		color: rgba(0,0,0,.8);
		cursor: pointer;
		margin-left: 0;
		margin-top: 50px;
		border-radius: 11px;
		&:hover {
		background: rgba(173,216,230,1);
		color: black;

		}
	}
	.record {
		padding: 10px;
			&:nth-child(even){
			background: lightgrey;
		}
	}
	.rightSide {
	vertical-align: top;
    display: block;
    width: 100%;
    height: 40%;
    margin: 10px;

	}
	.records{
		height: 80%;
		overflow-y: scroll;
	}
	.hidden {
		display: none;
	}
	.wrapper, .mapContainer {
		width: 100%;
		height: 100%;
	}

	.loginForm{
		font-family: "Helvetica Neue";
		width: 300px;
		height: 50%;
		margin: auto;
		margin-top: 50%;;
		
		& input{
			font-size: 16px;
			display: block;
		    width: 96%;
		    height: 24px;
		    padding-left: 6px;
		    margin-bottom: 10px;
		}
		& label{
			display:block;
			width: 100%;
		}
		& button{
			font-size: 16px;
			width: 100%;
			padding: 10px;
			background: #add8e6;
			border:none;
			&.createAccount{
				border: 1px solid #add8e6;
				background: none;
				margin-top: 10px;
			}
		}
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	#map {
		height: 450%;
		width: 100%;
		display: block;
	}
	.posBtn {
		display: block;
		height: 126px;
		padding: 7px 15px;
		background: rgba(173,216,230,.8);
		border: none;
		color: rgba(0,0,0,.8);
		cursor: pointer;
		margin-left: 0;
		margin-top: 50px;
		border-radius: 11px;
		&:hover {
		background: rgba(173,216,230,1);
		color: black;

		}
	}
	.record {
		padding: 10px;
			&:nth-child(even){
			background: lightgrey;
		}
	}
	.rightSide {
		vertical-align: top;
		display: block;
		width: 100%;
		height: 30%;
		margin-left: 10px;

	}
	.records{
		height: 80%;
		overflow-y: scroll;
	}
	.hidden {
		display: none;
	}
	.wrapper, .mapContainer {
		width: 100%;
		height: 100%;
	}

	.loginForm{
		font-family: "Helvetica Neue";
		width: 300px;
		margin: auto;
		margin-top: 100px;
		
		& input{
			font-size: 16px;
			display: block;
		    width: 96%;
		    height: 24px;
		    padding-left: 6px;
		    margin-bottom: 10px;
		}
		& label{
			display:block;
			width: 100%;
		}
		& button{
			font-size: 16px;
			width: 100%;
			padding: 10px;
			background: blue;
			border:none;
			&.createAccount{
				border: 1px solid blue;
				background: none;
				margin-top: 10px;
			}
		}
	}

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

	#map {
		height: 45%;
		width: 100%;
		display: block;
	}
	.posBtn {
		display: block;
		padding: 7px 15px;
		background: rgba(173,216,230,.8);
		border: none;
		color: rgba(0,0,0,.8);
		cursor: pointer;
		margin-left: 0;
		margin-top: 20px;
		border-radius: 11px;
		height: 126px;
		&:hover {
		background: rgba(173,216,230,1);
		color: black;

		}
	}
	.record {
		padding: 10px;
			&:nth-child(even){
			background: lightgrey;
		}
	}
	.rightSide {
		vertical-align: top;
		display: block;
		width: 100%;
		height: 40%;
		margin-left: 10px;

	}
	.records{
		height: 80%;
		overflow-y: scroll;
	}
	.hidden {
		display: none;
	}
	.wrapper, .mapContainer {
		width: 100%;
		height: 100%;
	}

	.loginForm{
	font-family: "Helvetica Neue";
    width: 39%;
    height: 50%;
    margin: auto;
    margin-top: 50%;
		
		& input{
			font-size: 16px;
			display: block;
		    width: 96%;
		    height: 41px;
		    padding-left: 6px;
		    margin-bottom: 10px;
		}
		& label{
			display:block;
			width: 100%;
		}
		& button{
			font-size: 16px;
			width: 100%;
			padding: 15px;
			background: #ADD8E6;
			border:none;
			&.createAccount{
				border: 1px solid #add8e6;
				background: none;
				margin-top: 10px;
			}
		}
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	#map {
		height: 50%;
		width: 50%;
		display: inline-block;
	}
	.posBtn {
		display: inline-block;
		padding: 7px 15px;
		background: rgba(173,216,230,.8);
		border: none;
		color: rgba(0,0,0,.8);
		cursor: pointer;
		margin-left: 36%;
		margin-top: 50px;
		border-radius: 11px;
		&:hover {
		background: rgba(173,216,230,1);
		color: black;

		}
	}
	.record {
		padding: 10px;
			&:nth-child(even){
			background: lightgrey;
		}
	}
	.rightSide {
		vertical-align: top;
		display: block;
		width: 100%;
		height: 30%;
		margin-left: 10px;

	}
	.records{
		height: 80%;
		overflow-y: scroll;
	}
	.hidden {
		display: none;
	}
	.wrapper, .mapContainer {
		width: 100%;
		height: 100%;
	}

	.loginForm{
		font-family: "Helvetica Neue";
		width: 300px;
		margin: auto;
		margin-top: 50%;
		
		& input{
			font-size: 16px;
			display: block;
		    width: 96%;
		    height: 24px;
		    padding-left: 6px;
		    margin-bottom: 10px;
		}
		& label{
			display:block;
			width: 100%;
		}
		& button{
			font-size: 16px;
			width: 100%;
			padding: 10px;
			background: #ADD8E6;
			border:none;
			&.createAccount{
				border: 1px solid #add8e6;
				background: none;
				margin-top: 10px;
			}
		}
	}

}

/* ----------- iPhone 6 ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
	#map {
		height: 45%;
		width: 100%;
		display: block;
	}
	.posBtn {
    display: block;
    padding: 46px 8px;
    background: rgba(173, 216, 230, 0.8);
    border: none;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    margin-left: 0%;
    margin-top: 10px;
    border-radius: 11px;
    height: 126px;
	}
	.record {
		padding: 10px;
			&:nth-child(even){
			background: lightgrey;
		}
	}
	.rightSide {
		vertical-align: top;
		display: block;
		width: 100%;
		height: 40%;
		margin-left: 10%;

	}
	.records{
	height: 73%;
    overflow-y: scroll;
	}
	.hidden {
		display: none;
	}
	.wrapper, .mapContainer {
		width: 100%;
		height: 100%;
	}

	.loginForm{
		font-family: "Helvetica Neue";
		width: 300px;
		margin: auto;
		margin-top: 50%;
		
		& input{
			font-size: 16px;
			display: block;
		    width: 96%;
		    height: 24px;
		    padding-left: 6px;
		    margin-bottom: 10px;
		}
		& label{
			display:block;
			width: 100%;
		}
		& button{
			font-size: 16px;
			width: 100%;
			padding: 10px;
			background: #add8e6;
			border:none;
			&.createAccount{
				border: 1px solid #add8e6;
				background: none;
				margin-top: 10px;
			}
		}
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
	#map {
		height: 50%;
		width: 50%;
		display: inline-block;
	}
	.posBtn {
		display: inline-block;
		padding: 7px 15px;
		background: rgba(173,216,230,.8);
		border: none;
		color: rgba(0,0,0,.8);
		cursor: pointer;
		margin-left: 0%;
		margin-top: 50px;
		border-radius: 11px;
		&:hover {
		background: rgba(173,216,230,1);
		color: black;

		}
	}
	.record {
		padding: 10px;
			&:nth-child(even){
			background: lightgrey;
		}
	}
	.rightSide {
		vertical-align: top;
		display: inline-block;
		width: 360px;
		height: 50%;
		margin-left: 20px;

	}
	.records{
		height: 80%;
		overflow-y: scroll;
	}
	.hidden {
		display: none;
	}
	.wrapper, .mapContainer {
		width: 100%;
		height: 100%;
	}

	.loginForm{
		font-family: "Helvetica Neue";
		width: 300px;
		margin: auto;
		margin-top: 100px;
		
		& input{
			font-size: 16px;
			display: block;
		    width: 96%;
		    height: 24px;
		    padding-left: 6px;
		    margin-bottom: 10px;
		}
		& label{
			display:block;
			width: 100%;
		}
		& button{
			font-size: 16px;
			width: 100%;
			padding: 10px;
			background: #add8e6;
			border:none;
			&.createAccount{
				border: 1px solid #add8e6;
				background: none;
				margin-top: 10px;
			}
		}
	}
}
/* ----------- iPhone 6+ ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 800px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
	#map {
		height: 50%;
		width: 50%;
		display: inline-block;
	}
	.posBtn {
		display: inline-block;
		padding: 7px 15px;
		background: rgba(173,216,230,.8);
		border: none;
		color: rgba(0,0,0,.8);
		cursor: pointer;
		margin-left: 0;
		margin-top: 50px;
		border-radius: 11px;
		height: 126px;
		&:hover {
		background: rgba(173,216,230,1);
		color: black;

		}
	}
	.record {
		padding: 10px;
			&:nth-child(even){
			background: lightgrey;
		}
	}
	.rightSide {
		vertical-align: top;
		display: block;
		width: 100%;
		height: 40%;
		margin-left: 20px;

	}
	.records{
		height: 80%;
		overflow-y: scroll;
	}
	.hidden {
		display: none;
	}
	.wrapper, .mapContainer {
		width: 100%;
		height: 100%;
	}

	.loginForm{
		font-family: "Helvetica Neue";
		width: 300px;
		margin: auto;
		margin-top: 50%;
		
		& input{
			font-size: 16px;
			display: block;
		    width: 96%;
		    height: 24px;
		    padding-left: 6px;
		    margin-bottom: 10px;
		}
		& label{
			display:block;
			width: 100%;
		}
		& button{
			font-size: 16px;
			width: 100%;
			padding: 10px;
			background: #add8e6;
			border:none;
			&.createAccount{
				border: 1px solid #add8e6;
				background: none;
				margin-top: 10px;
			}
		}
	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
	#map {
		height: 50%;
		width: 50%;
		display: inline-block;
	}
	.posBtn {
		display: inline-block;
		padding: 7px 15px;
		background: rgba(173,216,230,.8);
		border: none;
		color: rgba(0,0,0,.8);
		cursor: pointer;
		margin-left: 36%;
		margin-top: 50px;
		border-radius: 11px;
		&:hover {
		background: rgba(173,216,230,1);
		color: black;

		}
	}
	.record {
		padding: 10px;
			&:nth-child(even){
			background: lightgrey;
		}
	}
	.rightSide {
		vertical-align: top;
		display: inline-block;
		width: 360px;
		height: 50%;
		margin-left: 20px;

	}
	.records{
		height: 80%;
		overflow-y: scroll;
	}
	.hidden {
		display: none;
	}
	.wrapper, .mapContainer {
		width: 100%;
		height: 100%;
	}

	.loginForm{
		font-family: "Helvetica Neue";
		width: 300px;
		margin: auto;
		margin-top: 100px;
		
		& input{
			font-size: 16px;
			display: block;
		    width: 96%;
		    height: 24px;
		    padding-left: 6px;
		    margin-bottom: 10px;
		}
		& label{
			display:block;
			width: 100%;
		}
		& button{
			font-size: 16px;
			width: 100%;
			padding: 10px;
			background: #add8e6;
			border:none;
			&.createAccount{
				border: 1px solid #add8e6;
				background: none;
				margin-top: 10px;
			}
		}
    }

}
#map {
    height: 45%;
    margin-bottom: 2%;
    width: 100%;
    display: block;
}
.posBtn {
    position: fixed;
    bottom: 0%;
    height: 126px;
    left: 0%;
    font-size: 24px;
    width: 100%;
    z-index: 1000;
    display: block;
    padding: 17px 15px;
    background: rgba(173, 216, 230, 1);
    border: none;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.record {
	padding: 10px;
		&:nth-child(even){
		background: lightgrey;
	}
}
.rightSide {
	vertical-align: top;
	display: block;
	width: 100%;
    height: 40%;
    margin-bottom: 10%;
    display: block;
	margin-left: 10px;

}
.records{
	overflow-y: scroll;
	height: 100%;
}
.hidden {
	display: none;
}
.wrapper, .mapContainer {
	width: 100%;
	height: 100%;
}

.loginForm{
	font-family: "Helvetica Neue";
	width: 300px;
	margin: auto;
	margin-top: 50%;
	
	& input{
		font-size: 16px;
		display: block;
	    width: 96%;
	    height: 24px;
	    padding-left: 6px;
	    margin-bottom: 10px;
	}
	& label{
		display:block;
		width: 100%;
		font-size:10px;
		
	}
	& button{
		font-size: 16px;
		width: 100%;
		padding: 10px;
		background: rgba(173, 216, 230, 1);;
		border:none;
		&.createAccount{
			border: 1px solid rgba(173, 216, 230, 1);;
			background: none;
			margin-top: 10px;
		}
	}
}

